<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com" version="25.8.1.1" name="CDOL PSCB Custom Reports" description="Custom Student Contact Reports"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
    <publisher name="Adrian Carlson">
        <contact email="adrian-carlson@cdolinc.net"/>
    </publisher>
</plugin>
